services:
    frontend:
        build: .
        container_name: frontend
        ##################################################################################################
        # possible development commands
        ##################################################################################################
        #        command: tail -f /dev/null                                               #troubleshooting
        #        command: /bin/bash -c "pnpm install --frozen-lockfile && pnpm dev"        #run dev server
        #        command: /bin/bash -c "pnpm build"                                      #build production
        #        command: /bin/bash -c "node .output/server/index.mjs"                     #run production
        ##################################################################################################
        ports:
            - '3000:3000'
        env_file:
            - .env
        ##################################################################################################
        # development env's
        #        environment:
        #            NODE_ENV: 'development'
        #            DIRECTUS_URL: 'https://directus.thecloud.sucks'
        #            DIRECTUS_SERVER_TOKEN: 'VwRnoJwPaMWj4bzX87uGD0c8Yq4LaYGp'
        #            NUXT_PUBLIC_SITE_URL: 'http://host.docker.internal:3000'
        ##################################################################################################
        extra_hosts:
            - host.docker.internal:${HOST_IP}
        ###################################################################################################
        # production code health check
        #        healthcheck:
        #            test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000" ]
        #            interval: 10s
        #            timeout: 5s
        #            retries: 3
        #            start_period: 10s
        ###################################################################################################
        volumes:
            - .:/app
            - node_modules_cache:/app/node_modules
            - nuxt_cache:/app/.nuxt
            - build_cache:/app/.output
            - node_cache:/app/node-compile-cache
            - pnpm_cache:/app/.pnpm-store
        restart: unless-stopped
        networks:
            - directus_network

volumes:
    node_modules_cache:
    nuxt_cache:
    build_cache:
    node_cache:
    pnpm_cache:

networks:
    directus_network:
        driver: bridge
